@import '../../styles/mixins/link_btn';
@import '../../styles/themes/default';

.main {
  margin: 88px auto;
  display: block;
  text-align: center;

  img {
    height: 280px;
    width: auto;
    margin-left: 1em;
  }

  .title {
    font-size: 50px;
  }

  .credentials {
    display: block;

    .bot_info {
      font-size: 32px;
      margin-top: 40px;
    }

    .bot_link {
      @include link-button(
        //
          $btn-color,
        10px 20px,
        40px 0,
        35px
      );
    }
  }
}
